.game {
    display: flex;
    flex-direction: row;
    padding: 24px;
  }
  
  .game-board {
    margin-left: 20px;
    display: flex;
    margin-left: 15%;
    margin-top: 10%;
    
    height: 300px;
    width: 800px;
  }
  
  .square {
    font-size: 50px;
    color: rgb(75, 247, 8);
    background: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    position: relative;
    font-family: monospace;
  }
  
  .status {
    font-family: poppins;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    background-color: rgb(19, 19, 86);
    margin-bottom: 53%;
    margin-top: 15%;
   width: 28%;
   padding-left: 5px;
   margin-left: 15%;
  }
  .reset-button{
    margin-top: 20%;
    margin-right: 20%;
    
  }
  .reset-button2{
    
    height: 40px;
    width: 130px;
    font-size: 1.3em;
    border-radius: 30px;
    font-family: poppins;
  }
  .heading1{
  color:rgb(247, 244, 244); 
  padding-top: 20px; 
  text-decoration: underline;
  margin-left: 5%;
  font-family: poppins;
  letter-spacing: 2px;
  font-size: 4em;
  }
  